.Code {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 320px;

    &-Agreement {
        display: flex;
        align-self: flex-start;
        font-size: 13px;
        line-height: 17px;

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        &-Text {
            margin-left: 8px;
        }
    }

    &-Button {
        width: 320px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 500px) {
    .Code {
        width: 448px;

        &-Button {
            width: 448px;
        }
    }
}

@media screen and (max-width: 320px) {
    .Code {
        width: 300px;

        &-Button {
            width: 300px;
        }
    }
}
