# copy of .gitignore
node_modules
npm-debug.log
.env
build
.nyc_output
coverage

# git & docker artefacts
.dockerignore
Dockerfile
.git
.arcignore

# docker does not support global ignores file
.vscode
.idea
.DS_Store
