{% extends "templates/admin.html" %}

{% block main %}

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        {% block thead %}
        {{ th("User (%i)" % users|length, 'name') }}
        {{ th("Admin", 'admin') }}
        {{ th("Last Activity", 'last_activity') }}
        {{ th("Running (%i)" % running|length, 'running', colspan=4) }}
        {% endblock thead %}
      </tr>
    </thead>
    <tbody>
      {%- if jc_debug -%}
      <tr class="user-row add-user-row">
        <td colspan="12">
          <a id="add-users" role="button" class="col-xs-2 btn btn-default">Add Users</a>
          <span class="col-xs-offset-4 col-xs-3">
            <a id="start-all-servers" role="button" class="btn btn-primary col-xs-5 col-xs-offset-1">Start All</a>
            <a id="stop-all-servers" role="button" class="btn btn-danger col-xs-5 col-xs-offset-1">Stop All</a>
          </span>
          <a id="shutdown-hub" role="button" class="col-xs-2 col-xs-offset-1 btn btn-danger">Shutdown Hub</a>
        </td>
      </tr>
      {%- endif -%}

      {% for user in users %}
      {% for spawner in user.all_spawners() %}
      <tr class="user-row server-row" id="user-{{user.name}}" data-user="{{ user.name }}" data-server-name="{{spawner.name}}" data-admin="{{user.admin}}">
      {% block user_row scoped %}

      <td class="name-col col-sm-2">
        <a href="https://staff.yandex-team.ru/{{user.name}}" data-staff="{{user.name}}">
          {{user.name}}
        </a>
      </td>

      <td class="admin-col col-sm-2">
        {% if user.admin %}admin{% endif %}
      </td>

      <td class="time-col col-sm-3">
      {%- if spawner.last_activity -%}
        {{ spawner.last_activity.isoformat() + 'Z' }}
      {%- else -%}
        Never
      {%- endif -%}
      </td>

      <td class="server-col col-sm-2 text-center">
        <a role="button" class="stop-server btn btn-xs btn-danger{% if not spawner.active %} hidden{% endif %}">
        stop server
        </a>
        <a role="button" class="start-server btn btn-xs btn-primary{% if spawner.active %} hidden{% endif %}">
        start server
        </a>
      </td>
      <td class="server-col col-sm-1 text-center">
        <a role="button" class="access-server btn btn-xs btn-primary{% if not spawner.active %} hidden{% endif %}">
        access server
        </a>
      </td>
      <td class="server-col col-sm-1 text-center">
        <a role="button" class="btn btn-xs btn-primary{% if not spawner.active %} hidden{% endif %}" href="{{spawner.qyp_link}}">
        QYP
        </a>
      </td>
      <td>
        <a role="button" class="btn btn-xs btn-primary" href="{{ base_url }}backup/{{ user.name }}">
        backup
        </a>
      </td>
      </tr>
      {% endblock user_row %}
      {% endfor %}
      {% endfor %}
  </tbody>
  <tfoot>
    <tr class="pagination-row">
    <td colspan="3">
      {% if pagination.links %}
      <div class="pagination menu">{{ pagination.links|safe }}</div>
      {% endif %}
    </td>
    <td colspan="2" class="pagination-page-info">
    Displaying users {{ pagination.info.start|safe }} - {{ pagination.info.end|safe }} of {{ pagination.info.total|safe }}
    </td>
  </tr>
  </tfoot>
  </table>
</div>

{% call modal('Delete User', btn_class='btn-danger delete-button') %}
  Are you sure you want to delete user <span class="delete-username">USER</span>?
  This operation cannot be undone.
{% endcall %}

{% macro user_modal(name, multi=False) %}
{% call modal(name, btn_class='btn-primary save-button') %}
<div class="form-group">
  <{%- if multi -%}
    textarea
    {%- else -%}
    input type="text"
    {%- endif %}
    class="form-control username-input"
    placeholder="{%- if multi -%} usernames separated by lines{%- else -%} username {%-endif-%}">
  {%- if multi -%}</textarea>{%- endif -%}
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" class="admin-checkbox">Admin
  </label>
</div>
{% endcall %}
{% endmacro %}

{{ user_modal('Edit User') }}

{{ user_modal('Add Users', multi=True) }}


{% endblock %}

{% block yndxbug %}
{# kill yndxbug on admin page #}
{% endblock %}

{% block yndxmetrika %}
{# kill yndxmetrika on admin page #}
{% endblock %}
