{% extends "templates/spawn.html" %}

{% block main %}

<div class="container">
  <div class="row col-sm-offset-2 col-sm-8">
    {% if for_user and user.name != for_user.name -%}
      <p>Spawning server for
        <a href="https://staff.yandex-team.ru/{{ for_user.name }}">{{ for_user.name }}</a>
      </p>
    {% endif -%}
    {% if error_message -%}
      <p class="spawn-error-msg text-danger">
        Error: {{error_message | safe}}
      </p>
    {% endif %}

    {{spawner_options_form | safe}}

  </div>
</div>

{% endblock %}

{% block script %}

{{ super() }}

<script src="{{ jc_static_url('js/spawn.js') }}"></script>

{% endblock %}
