.App {
    height: 100%;
    min-height: 100%;

    &-Header {
        flex: 0 0 auto;

        width: 100%;
        padding: 0 20px;
        height: 44px;
        display: flex;

        flex-flow: row nowrap;
        white-space: nowrap;
        justify-content: space-between;
        align-items: center;

        background: #fff;

        &User {
            flex: 0;

            .user-pic {
                height: 32px;

                & > img {
                    width: 32px;
                    height: 32px;
                }
            }

            .legouser__current-account .user-account__name {
                @media screen and (max-width: 500px) {
                    display: none;
                }
            }
        }
    }

    &-Content {
        height: calc(100% - 44px);
        min-height: calc(100% - 44px);
    }
}

.SupportPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    &-Content {
        display: flex;
        flex-direction: column;

        width: 500px;
        padding: 10px 0;

        &-Input {
            padding: 10px 0;

            .Select2 {
                min-width: 500px;
            }
        }

        &-Button {
            width: 300px;
        }
    }
}
