.Capability {
    display: inline-block;
    min-width: 100px;
    height: 100px;
    margin: 0 1em 1em 0;
    padding: 1em;
    vertical-align: top;

    border: 1px solid gray;
    border-radius: 1em;

    text-align: center;
}

.Capability_type_on-off.Capability_value_on {
    background-color: #b4ffb7;
}

.Capability_type_on-off.Capability_value_off {
    background-color: #ffaaa3;
}

.Capability-type {
    font-size: .8em;
}

.Capability-value {
    margin-top: 24px;
    font-weight: bold;
}
