.CodeInput {
    display: flex;
    flex-direction: column;
    width: 269px;

    .CodeInput-Content {
        display: flex;
        flex-direction: row;
        margin: 25px 0 35px;

        &-Cell {
            width: 60px;
            height: 72px;
            border-radius: 12px;
            border: 1px solid #E1DDEA;
            padding: 25px 22px;
            gap: 10px;
            font-family: 'YS Text', Helvetica, Arial, sans-serif;
            font-size: 20px;
            line-height: 20px;
            text-align: center;
        }

        &-Cell:focus-visible {
            box-shadow: 0 0 0 2px #FFCC00;
            border: 1px solid transparent;
        }

        &-Cell:not(:last-child) {
            margin-right: 12px;
        }

        &-Cell:focus {
            // Чтобы сафари не смешивал стили добавил небольшую разницу
            border: 1px solid rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 2px #ffcb00;
            -webkit-box-shadow: 0 0 0 2px #ffcb00;
            -moz-box-shadow: 0 0 0 2px #ffcb00;
            -webkit-appearance: none;
        }

        &_Error {
            margin-bottom: 0;
        }

        &_Error > .CodeInput-Content-Cell{
            box-shadow: 0 0 0 2px #E00000;
            -webkit-box-shadow: 0 0 0 2px #E00000;
            -moz-box-shadow: 0 0 0 2px #E00000;
            -webkit-appearance: none;
            border: 1px solid white;
        }
    }

    &-ErrorText {
        margin: 4px 0 15px;
    }
}
