<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Selecting dialogs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://yastatic.net/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container">

    <div class="panel panel-info">
        <div class="panel-heading">NDA</div>
        <div class="panel-body">
            PRIVATE DATA. FOR OFFICIAL PURPOSES ONLY
        </div>
    </div>

    {% if error %}
        <div class="panel panel-danger">
            <div class="panel-heading">Something went wrong on the server</div>
            <div class="panel-body">{{ error }}</div>
        </div>
    {% endif %}

    <form class="form-horizontal" method="GET" action="/">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group {% if form.begin.errors %} has-error {% endif %}">
                        <label class="control-label col-md-2">{{ form.begin.label }}</label>
                        <div class="col-md-8">
                            {{ form.begin(size=32, class="form-control") }}
                        </div>
                    </div>
                    {% if form.begin.errors %}
                        <div class="panel panel-danger">
                            <div class="panel-heading">Something went wrong:</div>
                            <div class="panel-body">
                                <ul>
                                    {% for error in form.begin.errors %}
                                        <li style="color:indianred;">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <div class="form-group {% if form.end.errors %} has-error {% endif %}">
                        <label class="control-label col-md-2">{{ form.end.label }}</label>
                        <div class="col-md-8">
                            {{ form.end(size=32, class="form-control") }}
                        </div>
                    </div>
                    {% if form.end.errors %}
                        <div class="panel panel-danger">
                            <div class="panel-heading">Something went wrong:</div>
                            <div class="panel-body">
                                <ul>
                                    {% for error in form.end.errors %}
                                        <li style="color:indianred;">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" title="Part of query or regexp">
                        <label class="control-label col-md-2">{{ form.query.label }}</label>
                        <div class="col-md-8">
                            {{ form.query(size=32, class="form-control") }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" title="Part of reply or regexp">
                        <label class="control-label col-md-2">{{ form.reply.label }}</label>
                        <div class="col-md-8">
                            {{ form.reply(size=32, class="form-control") }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group {% if form.uuid.errors %} has-error {% endif %}">
                        <label class="control-label col-md-2">{{ form.uuid.label }}</label>
                        <div class="col-md-8">
                            {{ form.uuid(size=32, class="form-control") }}
                        </div>
                    </div>
                    {% if form.uuid.errors %}
                        <div class="panel panel-danger">
                            <div class="panel-heading">Something went wrong:</div>
                            <div class="panel-body">
                                <ul>
                                    {% for error in form.uuid.errors %}
                                        <li style="color:indianred;">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-2">{{ form.app.label }}</label>
                        <div class="col-md-8">
                            {{ form.app(class="form-control") }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group"  title="Part of intent or regexp">
                        <label class="control-label col-md-2">{{ form.intent.label }}</label>
                        <div class="col-md-8">
                            {{ form.intent(size=32, class="form-control") }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-2">{{ form.skill_id.label }}</label>
                        <div class="col-md-8">
                            {{ form.skill_id(class="form-control") }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group"  title="Part of generic scenario or regexp">
                        <label class="control-label col-md-2">{{ form.generic_scenario.label }}</label>
                        <div class="col-md-8">
                            {{ form.generic_scenario(size=32, class="form-control") }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-2">{{ form.expboxes.label }}</label>
                        <div class="col-md-8">
                            {{ form.expboxes(size=32, class="form-control") }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group"  title="Megamind Scenario">
                        <label class="control-label col-md-2">{{ form.mm_scenario.label }}</label>
                        <div class="col-md-8">
                            {{ form.mm_scenario(size=32, class="form-control") }}
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group"  title="Is new user?">
                        <label class="control-label col-md-2">{{ form.is_newbie.label }}</label>
                        <div class="col-md-8">
                            {{ form.is_newbie(class="form-control") }}
                        </div>
                    </div>
                </div>

            </div>
        </div>


        {{ form.search(class="btn btn-success btn-block") }}
    </form>

</div>

<hr>

{% if show_mode %}
    <div class="container">
        <h4>Total number of queries: {{ data.number }}</h4>
        <div class="row">
            <div class="col-md-3">
                <table class="table table-striped table-hover table-bordered table-condensed">
                    <thead>
                        <tr>
                            <td><strong>date</strong></td>
                            <td><strong>count</strong></td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stat in data.daily_statistics %}
                            <tr>
                                <td>{{ stat.date }}</td>
                                <td>{{ stat.number }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <h3>Some dialogs: </h3>
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    {% for header in data.headers %}
                        <td><strong>{{ header }}</strong></td>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in data.data %}
                    <tr>
                        {% for cell in row %}
                            <td>{{ cell }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}

</body>
</html>
