.git/*
api/debian/*
!api/debian/changelog
VINS_NO_TEST.tmp
Anaconda2*
.cache/*
.vagrant/*
*.pyc
*.gzt.bin
*.swp
*.swo
*.swn
*.log
.idea
vins/.idea
.DS_Store
._.DS_Store
.vagrant
.cache
*.egg-info/

# deb build files
*.build
*.dsc
*.tar.gz
*.deb
*.changes
*.upload

# vins build files
*.vinsdm

# test results
*.csv.out

.imdone/*

# tests ~239M
core/vins_core/test/*
