fakeredis==1.1.1
flake8==3.5.0
flake8-mock==0.3
flake8-mutable==1.1.0
freezegun==0.3.7
mock==1.3.0
mongomock==3.9.0
more-itertools==5.0.0
moto==1.3.7
pycodestyle==2.3.1
pytest==3.7.4
pytest-cov==2.4.0
pytest-env==0.6.0
pytest-logging==2015.11.4
pytest-mock==1.5.0
pytest-mongodb==2.1.2
git+https://github.com/zubchick/pytest-randomly.git@2ccaf51eeb33f525f212a5437f33ef9921415e54
pytest-rerunfailures==3.1
pytest-xdist==1.23.0
requests-mock==1.3
teamcity-messages==1.21
