<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="30" strict="true">
    <Properties>
        <Property name="appenderToUse">$${env:LOG4J_APPENDER:-ConsoleAppender}</Property>
        <Property name="logLevel">$${env:LOG_LEVEL:-info}</Property>
        <Property name="logPattern">[%X{REQUEST_ID}] [%X{REQUEST_GUID}] [%X{RUID}] [%d{yyyy-MM-dd'T'HH:mm:ss.SSS ZZZZ}] %m%n</Property>
    </Properties>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${logPattern}"/>
            <ThresholdFilter level="${logLevel}" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>
    </Appenders>
    <Loggers>
        <AsyncLogger name="ru.yandex.alice.social.sharing" level="${logLevel}"/>
        <AsyncRoot level="info">
            <AppenderRef ref="ConsoleAppender"/>
        </AsyncRoot>
    </Loggers>
</Configuration>
