@import '../const';

.H1 {
    font-size: 24px;
    line-height: 0;
}

.H2 {
    font-size: 20px;
    font-weight: bold;
}

.H3 {
    font-size: 16px;
    font-weight: bold;
}

.header-title {
    padding: 20px 0;
    margin-bottom: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
}

.PageHeadline {
    margin-top: 0;

    font-size: 22px;
    font-weight: normal;
    line-height: 26px;

    &__title {
        display: inline-block;

        margin: 0 30px 10px 0;

        &_alone {
            margin-bottom: 0;
        }
    }

    &__subtitle {
        display: inline-block;
    }
}

.PageContent {
    display: flex;

    align-items: baseline;
}

.PageMain {
    @include cols(9);
}

.PageAside {
    position: sticky;
    z-index: 2;
    top: 0;

    margin-left: $width-gap;
    padding: 15px 15px 20px;

    background: white;

    @include cols(3);
}

.PageHeadline2 {
    grid-area: header;
}

.PageMain2 {
    grid-area: main;
}

.PageAside2 {
    padding: 15px 15px 20px;

    grid-area: sidebar;
}

@media (max-width: 540px) {
    .PageContent {
        flex-direction: column;
    }

    .PageMain {
        order: 2;

        width: auto;
    }

    .PageAside {
        order: 1;

        display: flex;
        justify-content: center;

        width: 100%;
        margin: 0;
        padding: 0 0 10px;
    }

    .PageAside2 {
        padding: 0;
    }
}

.Page {
    display: flex;
    flex: 1;
    flex-direction: column;

    &__head {
        display: flex;
        justify-content: center;
        background-color: $color-neowhite;
        min-height: 100px;
    }

    &__head-content {
        flex: 0 1 $site-max-width;
        max-width: $site-max-width;

        padding: 20px 20px 0;
    }

    &__content {
        flex: 1;

        background: white;
    }

    &__page {
        max-width: $width-page;
        margin: 0 auto;
        padding: 25px $width-gap;
    }
}
