.jcll-input {
    background-color: var(--jp-input-background) !important;
    border: var(--jp-border-width) solid var(--jp-border-color1) !important;
    border-radius: 0px !important;
    box-shadow: var(--jp-input-box-shadow) !important;
    font-size: var(--jp-ui-font-size1) !important;
    color: var(--jp-ui-font-color0) !important;
    padding: 1px 7px !important;
    height: 32px !important;
}

.jcll-input:active {
    background-color: var(--jp-input-active-background) !important;
    border-color: var(--jp-input-active-border-color) !important;
    box-shadow: var(--jp-input-active-box-shadow-color) !important;
}

.jcll-input:hover {
    background-color: var(--jp-input-hover-background) !important;
}

.jcll-addon-button {
    margin-left: 1px;
}

.btn-jcll {
    font-size: var(--jp-ui-font-size1);
    height: 32px;
    line-height: 32px;
    padding: 0px 12px;
    text-align: center;
    letter-spacing: 0.8px;
    outline: none;
    box-sizing: border-box;
}

.btn-jcll-primary {
    background-color: var(--jp-brand-color1);
    color: var(--jp-ui-font-color1);
}

.btn-jcll-primary:hover {
    background-color: var(--jp-brand-color2);
}

.btn-jcll-primary:active {
    background-color: var(--jp-brand-color3);
}

.jcll-input-group-text {
    display: flex;
    align-items: center;
    padding: 0px 12px;
    margin-bottom: 0;
    color: var(--jp-ui-font-color1);
    text-align: center;
    background-color: var(--jp-layout-color3);
    border: 1px solid var(--jp-border-color1);
    height: 32px;
    font-size: var(--jp-ui-font-size1);
}
