.Pagination {
    margin: 1rem auto;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 50%;


    & li {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    &__Active {
        background-color: #ffdb4d;
        border: 1px solid #cab6b6;
        border-radius: 4px;
        padding: 0 5px;
        outline: none;
    }
}
