.CopyField {
    position: relative;
    display: inline-block;
    &__value {
        position: absolute;
        height: 0;
        width: 0;
        overflow: hidden;
        border: none;
        background-color: none;
        opacity: 0;
    }
    &__label {
        cursor: pointer;
    }
}
