<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="30">

    <Properties>
        <Property name="JSON_LOG_PATTERN">{ "timestamp": "%date{yyyy-MM-dd'T'HH:mm:ss.SSSZ}", "thread": "%thread", "level": "%level", "logger": "%logger", "requestId": "%replace{%X{request_id}}{^$}{NA}", "message": "%enc{%message}{JSON}", "stacktrace": "%enc{%throwable}{JSON}"}%n</Property>
    </Properties>

    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${JSON_LOG_PATTERN}"/>

            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>

        <Console name="ErrConsoleAppender" target="SYSTEM_ERR" follow="true">
            <!--<PatternLayout pattern="${JSON_LOG_PATTERN}"/>-->
            <JsonLayout compact="true" eventEol="true"/>
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>

    </Appenders>


    <Loggers>
        <AsyncLogger name="ru.yandex.alice.paskills.my_alice" level="info"/>
        <AsyncRoot level="info">
            <AppenderRef ref="ConsoleAppender"/>
        </AsyncRoot>

    </Loggers>

</Configuration>
