@import '../const.scss';

.Caption {
    display: inline-block;

    &_offset-top {
        margin-top: 9px;
    }

    &_offset-bottom {
        margin-bottom: 9px;
    }

    &_wide {
        max-width: cols-width(7);
    }

    @extend %caption-font;

    &__link {
        height: 15px;

        .Link:link {
            display: inline-block;

            width: 12px;
            height: 12px;
            margin-left: 0.5em;

            text-align: center;

            background: #9e9e9e;
            color: #fff;
            border-radius: 50%;
            opacity: 0.7;

            font-size: 10px;

            transition: opacity 0.2s;
        }

        .Link:visited {
            color: #fff;
        }

        .Link:hover {
            opacity: 1;
        }
    }

    a,
    a:hover,
    a:visited {
        color: #04b;
        text-decoration: none;
    }
}
