@import '../const';

.Form {
    font-size: 15px;

    &__VerificationError {
        position: absolute;
        top: 5px;
        right: 10px;
        z-index: 2;
    }

    &__header {
        margin: 30px 0 35px;

        h2 {
            margin: 0;
            font-size: 18px;
            font-weight: normal;
        }
    }

    &__header_with-caption {
        margin-bottom: 26px;
    }

    &__extended-header {
        margin-bottom: 26px;

        h2 {
            margin: 0;
        }
    }

    &__label {
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 5px;
        white-space: pre-wrap;
        opacity: 0.7;
        font-size: 13px;

        @include cols(2);

        label {
            display: inline-block;
            margin-bottom: 4px;
        }

        &_required {
            label {
                &:after {
                    content: ' *';

                    color: red;
                }
            }
        }
    }

    &__field {
        position: relative;
        display: flex;

        margin-bottom: 30px;

        &_theme_self-centered .Form__fieldBody {
            align-self: center;
        }
    }

    &__fieldBody {
        position: relative;

        margin-top: -7px;

        @include cols(5);

        .radiobox__radio {
            display: block;
        }

        .select2 {
            min-width: 60%;

            .button2__text {
                text-align: left;
            }
        }
    }

    &__field + &__subField,
    &__subfield + &__subfield {
        margin-top: 12px;
    }

    &__error {
        margin-top: 9px;

        color: $color-error;

        font-size: 13px;
        line-height: 15px;

        a {
            color: #04b;
            text-decoration: none;
        }
    }

    .Form__field_needToVerify {
        &.Form__field_name_brandVerificationWebsite .textinput__control {
            padding-right: 110px;
        }

        &.Form__field_name_brandName .textinput__control {
            padding-right: 110px;
        }

        &.Form__field_name_email .textinput__control {
            padding-right: 130px;
        }
    }

    .Form__field_needToVerify.Form__field_name_email .textinput__control {
        padding-right: 130px;
    }

    &__field_invalid .textinput_theme_normal .textinput__box,
    &__field_invalid .textarea_theme_normal .textarea__box,
    &__subfield_invalid .textinput_theme_normal .textinput__box {
        border-color: $color-error;
    }

    @media (max-width: 840px) {
        &__header {
            margin-bottom: 20px;
        }

        &__field {
            display: block;

            margin-bottom: 20px;
        }

        &__label {
            width: auto;
            max-width: cols-width(5);
            margin-bottom: 10px;
        }

        &__fieldBody {
            display: block;

            width: auto;
            max-width: cols-width(5);
        }
    }

    &__checkbox-wrapper {
        display: inline-block;

        font-size: 13px;
        line-height: 28px;

        user-select: none;
        cursor: pointer;

        & > .checkbox {
            margin-right: 8px;
        }

        &_multiline {
            display: flex;
            align-items: center;

            line-height: 1.2;
        }
    }
}
