<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

    <Appenders>

        <Console name="STDOUT" target="SYSTEM_OUT">

        </Console>

        <Console name="BillingCallsFileLogger" target="SYSTEM_OUT">
            <JsonLayout compact="true" eventEol="true" objectMessageAsJsonObject="true" stacktraceAsString="true">
                <KeyValuePair key="timestamp" value="$${date:yyyy-MM-dd'T'HH:mm:ssZ}"/>
                <KeyValuePair key="uid" value="$${ctx:uid:-NA}"/>
                <KeyValuePair key="requestId" value="$${ctx:requestId:-NA}"/>
                <KeyValuePair key="request_type" value="$${ctx:request_type}"/>
            </JsonLayout>

        </Console>

    </Appenders>

    <Loggers>
        <Logger name="REQUEST_LOGGER" level="trace" additivity="true">
            <AppenderRef ref="BillingCallsFileLogger"/>
        </Logger>
        <AsyncLogger name="ru.yandex.quasar.billing" level="info" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </AsyncLogger>
        <AsyncRoot level="info">
            <AppenderRef ref="STDOUT"/>
        </AsyncRoot>
    </Loggers>

</Configuration>
