recursive-include personal_assistant/config *.nlg *.nlu *.js *.json *.yaml
recursive-include personal_assistant/config/nlu_templates *.txt
recursive-include personal_assistant/data/schema/api/search/2 *.json
include personal_assistant/config/personal_assistant_model.tar.gz
