.jcas-load-placeholder {
    align-self: center;
}

.jcas-result {
    width: 700px;
}

.jcas-result input {
    height: auto;
    font-size: 1em;
}

.tooltip {
    z-index: 10002 !important;
}

.alert-jcas-warning {
    background: var(--jp-warn-color3);
    color: var(--jp-ui-inverse-font-color1);
}

.alert-jcas-danger {
    background: var(--jp-error-color1);
    color: var(--jp-ui-inverse-font-color1);
}

.jcas-input {
    background-color: var(--jp-input-background) !important;
    border: var(--jp-border-width) solid var(--jp-border-color1) !important;
    border-radius: 0px !important;
    box-shadow: var(--jp-input-box-shadow) !important;
    font-size: var(--jp-ui-font-size1) !important;
    color: var(--jp-ui-font-color0) !important;
    padding: 1px 7px !important;
}

.jcas-input:active {
    background-color: var(--jp-input-active-background) !important;
    border-color: var(--jp-input-active-border-color) !important;
    box-shadow: var(--jp-input-active-box-shadow-color) !important;
}

.jcas-input:hover {
    background-color: var(--jp-input-hover-background) !important;
}

/* to not limit height of textarea */
input.jcas-input {
    height: 32px !important;
}

.jcas-input-group {
    margin-bottom: 8px;
}

.btn-jcas {
    height: 32px;
    padding: 0px 12px;
    line-height: 32px;
    border: 0px;
    border-radius: 0px;
    box-sizing: border-box;
    text-align: center;
    outline: none;
    font-size: var(--jp-ui-font-size1);
    color: var(--jp-ui-font-color1);
}

.btn-jcas-primary {
    background-color: var(--jp-brand-color1);
    color: var(--jp-ui-font-color1);
}

.btn-jcas-primary:hover {
    background-color: var(--jp-brand-color2);
}

.btn-jcas-primary:active {
    background-color: var(--jp-brand-color3);
}

.btn-jcas-reject {
    background-color: var(--jp-brand-color2);
    color: var(--jp-ui-font-color1);
}

.btn-jcas-reject:hover {
    background-color: var(--jp-brand-color3);
}

.btn-jcas-reject:active {
    background-color: var(--jp-brand-color4);
}

.jcas-commit-form-body {
    min-width: 700px;
}

.jcas-commit-form-body a {
    color: var(--jp-content-link-color);
}

.jcas-open-copy-box {
    min-width: 500px;
}
