@import '../const.scss';

.OrganizationPage-Head {
    &__org-info {
        display: flex;
        align-items: baseline;
        justify-content: space-between;

        white-space: nowrap;

        margin-bottom: 40px;
    }

    &__connect {
        &-icon {
            width: 18px;
            background-size: contain;

            margin-right: 6px;
        }
    }

    &__connect,
    &__name {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__connect + &__name::before {
        content: ' • '; // пробелы неразрывные
    }

    &__promocode {
        margin: 0 16px;

        display: flex;
        align-items: baseline;

        border: 1px solid rgba(53, 16, 16, 0.17);
        padding: 3px 12px;
        border-radius: 3px;
        &-icon {
            width: 18px;
            background-size: cover; // да, cover. Такая картинка.

            margin-left: 8px;
        }
        &-count {
            font-size: 14px;
            opacity: 0.6;
            font-weight: bold;
        }
    }

    &__controls {
        margin-left: auto;
    }
}
