@import '../const.scss';
.OrganizationChoicePage {
    &__title {
        margin-bottom: 70px;
    }

    &__loader {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 200px;
    }

    &__group-header {
        padding: 16px 16px 12px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        white-space: nowrap;

        &-title {
            font-size: 18px;
            font-weight: bolder;

            overflow: hidden;
            text-overflow: ellipsis;

            .icon {
                width: 18px;
                background-size: contain;

                margin-right: 6px;
            }
        }

        &-links {
            opacity: 0.5;

            .Link {
                margin-left: 12px;

                .icon {
                    margin-right: 6px;
                    width: 14px;
                    background-size: contain;
                }
            }
        }

        &:hover &-links,
        &:focus &-links {
            opacity: 1;
        }
    }

    &__organization {
        padding: 11px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        white-space: nowrap;
        overflow: hidden;

        font-size: 15px;
        margin-top: 8px;
        border: 1px solid rgba(0, 0, 0, 0.088);
        border-radius: 3px;

        &-name {
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &-promo-count .icon {
            width: 16px;
            background-size: contain;

            margin-left: 4px;
        }
    }
}
