# copy of .gitignore
node_modules
npm-debug.log
.env
.vscode/*
!.vscode/launch.json
.tvm.dev.json
build
.minipgaas/ca
.minipgaas/certs
.nyc_output
coverage

# git & docker artefacts
.dockerignore
Dockerfile
base.Dockerfile
.git
.arcignore

# docker does not support global ignores file
.idea
.DS_Store
