{
  "BbEnvType": 1,
  "clients": {
    "alice4business": {
      "secret": "XXX",
      "self_tvm_id": 2015559,
      "dsts": {
        "blackbox": {
          "dst_id": 224
        },
        "quasar": {
          "dst_id": 2002637
        },
        "passport": {
          "dst_id": 2000079
        },
        "mediabilling": {
            "dst_id": 2001265
        },
        "bulbasaur": {
          "dst_id": 2009295
        },
        "connect": {
          "dst_id": 2000204
        },
        "alice4business": {
          "dst_id": 2015559,
          "comment": "only for local development. Used by frontend"
        }
      }
    },
    "connect-controller": {
      "secret": "YYY",
      "self_tvm_id": 2018147,
      "dsts": {
        "connect": {
          "dst_id": 2000204
        }
      }
    }
  }
}
