body {
  padding: 10px;
  font-size: 12px;
  background: antiquewhite;
}

#selectors {
  width: 100%;
}
#selectors table {
  width: 100%;
}
#selectors input {
  width: 90%;
}
#selectors th {
  text-align: right;
  width: 50px;
}
#selectors input[type=submit] {
  height: 30px;
}
label {
  margin-bottom: 10px;
}

label[for=id_stats_daily], input#id_stats_daily {
  margin: 0;
  cursor: pointer;
}

#statistics {
  margin: 10px;
}
#total {
  font-size: 14px;
}
#counts {
  display: none;
  margin: 10px;
}
#counts th, #counts td {
  border: 1px solid darkgray;
}
#counts_display {
  display: none;
  border-bottom: 1px dotted;
  cursor: pointer;
  margin: 8px;
}

table {
  font-size: 12px;
  line-height: 15px;
}
th {
  text-align: center;
}
th, td {
  padding: 2px;
}

#query-result th, #query-result  td {
  border: 1px solid darkgray;
}

.helper {
  display: inline-block;
  border: 1px solid darkgray;
  color: darkgray;
  border-radius: 2.8ex;
  margin-left: 3px;
  width: 2.6ex;
  height: 2.6ex;
  font-size: 2ex;
  text-align: center;
  padding: 1.5px;
  cursor: pointer;
}

.tab-bar {
    font-size: 16px;
    margin: 20px;
    background-color: #F0F0F0;
    border: 1px solid darkgray;
}

.tab-bar td {
    padding: 10px;
    cursor: pointer;
}

.tab-bar a {
    display: block;
    text-decoration: none;
}

.tab-bar .active {
    background-color: darkgray;
}

.tab-bar td:not(.active):hover {
    background-color: lightgray;
}
