@import '../const';

.Menu {
    overflow: auto;
    display: flex;
    padding: 0;
    margin: 0;

    &__item {
        display: block;

        .Link {
            display: block;
            color: #000;
            height: 30px;
            white-space: nowrap;

            &_active {
                border-bottom: 4px solid #f00;
            }
        }
    }

    &__item + &__item {
        margin-left: 25px;
    }
}
