<div class="alert alert-danger text-center" role="alert">
  QYP is temporary unavailable.
  <br/>
  Try again later and check out for
  <a class="alert-link" href="{{ qyp_infra_link }}">infra events</a>.
  <br/>
  If there are no events and it's unavailable for more than 10 minutes, please contact us in
  <a class="alert-link" href="{{ chat_link }}" target="_blank">support chat</a>.
</div>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Details
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <pre class="panel-body" style="margin: 0 !important">{{ traceback }}</pre>
    </div>
  </div>
</div>
