@import '../const.scss';
@import '../mixin.scss';
.Alert {
    padding-right: 50px;
    background-color: #fff;
    width: 100%;
    color: rgba(0, 0, 0, 0.61);
    box-shadow: 0 0 0 1px #dbe2e6;
    border-width: 7px 0 0 0;
    border-style: solid;
    position: relative;
    &_size {
        &_s {
            font-size: 13px;
            padding: 10px 25px;
        }
        &_m {
            font-size: 15px;
            padding: 14px 30px;
        }
        &_l {
            font-size: 18px;
            padding: 17px 35px;
        }
    }
    &_type {
        &_error {
            border-color: $color-error;
            .Alert__icon {
                @include error-icon;
                margin-bottom: -3px;
                margin-right: 10px;
            }
        }
        &_info {
            .Alert__icon {
                @include warn-icon;
                margin-bottom: -3px;
                margin-right: 10px;
            }
            border-color: $color-warning;
        }
        &_success {
            border-color: $color-success;
        }
    }
    &__close-btn {
        background-color: transparent;
        border: none;
        cursor: pointer;
        float: right;
        color: inherit;
        font-size: 22px;
        padding: 5px 40px;
        position: absolute;
        right: -30px;
        top: 50%;
        transform: translateY(-55%);
    }
}
