[Unit]
Description=JupyterHub no user service
After=network.target

[Service]
Type=simple
ExecStart={{ jupyterhub_command }}

User=root

Restart=on-failure
RestartSec=5

StandardOutput=/var/log/jupyterhub
StandardError=inherit

[Install]
WantedBy=default.target
