[
    {
        "context": {
            "expected": {
                "directives": "<DIRECTIVES PLACEHOLDER. Ex: client_action:music_play, client_action:sound_set_level>",
                "intent": "<INTENT PLACEHOLDER. Ex: personal_assistant.scenarios.get_weather>"
            },
            "request": {
                "app_preset": "<APP PLACEHOLDER. Ex: quasar>",
                "text": "<REQUEST TEXT PALCEHOLDER. Ex: погода>",
                "device_state": {},
                "experiments": {},
                "request_id": "ffffffff-ffff-ffff-<REQ ID PART PLACEHOLDER>",
            }
        },
        "request": {
            "expected": {
                "directives": "<DIRECTIVES PLACEHOLDER. Ex: client_action:music_play>",
                "intent": "<INTENT PLACEHOLDER. Ex: alice.vinsless.music>"
            },
            "request": {
                "app_preset": "<APP PLACEHOLDER. Ex: quasar>",
                "text": "<REQUEST TEXT PALCEHOLDER. Ex: погода>",
                "device_state": {},
                "experiments": {},
                "fetcher_mode": "<UNIPROXY FETCHER MODE PLACEHOLDER. Ex: voice|text|auto>",
                "request_id": "ffffffff-ffff-ffff-<REQ ID PART PLACEHOLDER>",
                "voice_url": "<VOICE URL PLACEHOLDER>"
            }
        }
    }
]
