div.mic0 {
    background-image: url(mic0.png);
    width: 24px;
    height: 24px;
    float: left;
}

div.mic1 {
    background-image: url(mic1.png);
    width: 24px;
    height: 24px;
    float: left;
}

div.spk1 {
    background-image: url(spk1.png);
    width: 24px;
    height: 24px;
    float: left;
}

div.spk0 {
    background-image: url(spk0.png);
    width: 24px;
    height: 24px;
    float: left;
}
