*-ut
*.a
*.jar
*.pyc
*.sc.h
*.so
*.swp
*.pb.h
*.pb.cc
*.h_serialized.cpp

# Ignore Emacs backup files
*~

.exrc
bin/bass_server
test-results
tools/vins_client/vins_client
tests/alice-bass-tests
tools/yav_wrapper/yav_wrapper

# Ignore tests binary data
tests/sources/*.pickle.data
