.Row {
    display: flex;
    flex-basis: 100;
    align-items: center;
    position: relative;
    & > * {
        margin-right: 5px;
        position: relative;
    }
    &__deviceId {
        flex: 200px 0 0;
    }
    &__externalDeviceId {
        flex: 20;
    }
    &__note {
        flex: 20;
    }
    &__room {
        flex: 20;
    }
    &__status {
        flex: 25;
    }
    &__controls {
        flex: 50;
    }
}
