$border-default: 1px solid rgba(0, 0, 0, 0.06);
$side-padding: 20px;

$status-indicator-size: 9px;

$slider-transition-duration: 0.14s;
$slider-height: 30px;
$slider-border-width: max(floor($slider-height / 10) - 1, 1px);

$color-neowhite: #f6f7f9;
$color-error: #f86611;
$color-success: #6cba68;
$color-warning: #ffcc67;
$color-caption: #717171;

// Grid

$width-col: 80px;
$width-gap: 20px;
$cols-total: 12;

$mobile-max: 450px;

$width-page: $cols-total * $width-col + ($cols-total - 1) * $width-gap + 2 * $width-gap;
$site-max-width: $width-page;

@function cols-width($n) {
    @return $n * $width-col + ($n - 1) * $width-gap;
}

@mixin cols($n) {
    width: cols-width($n);
}

%caption-font {
    font-size: 13px;
    color: $color-caption;
}
