@import './const.scss';

$pending: pending;

%error-style {
    color: #fff;
    border-radius: 50%;
    background-color: #fff;
}

@mixin error-icon($size: 20) {
    border-radius: 50%;
    background-color: lighten($color-error, 10%);
    position: relative;
    width: $size + px;
    height: $size + px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &:before {
        content: '×';
        font-weight: bold;
        z-index: 2;
        font-size: $size + px;
        color: #fff;
        line-height: $size + px;
        margin-top: -25%;
        border-radius: 2px;
    }
}

@mixin warn-icon {
    position: relative;
    padding-left: 30px;
    &:before,
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 2px;
        font-family: 'times new roman';
    }

    &:after {
        background: transparent;
        border: {
            color: lighten($color-error, 20%) transparent;
            style: solid;
            width: 0 11px 18.4px;
        }
        z-index: 1;
        left: 0;
    }
    &:before {
        color: black;
        content: '!';
        font-weight: bold;
        left: 10px;
        bottom: -1px;
        z-index: 2;
        font-size: 15px;
    }
}

@keyframes pending {
    0% {
        background: rgb(248, 245, 245);
    }
    50% {
        background-color: rgb(235, 235, 235);
    }
    100% {
        background: rgb(248, 245, 245);
    }
}
