<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="30" strict="true"><Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>
    </Appenders>
    <Loggers>
        <AsyncLogger name="ru.yandex.alice.social.sharing" level="debug"/>
        <AsyncRoot level="info">
            <AppenderRef ref="ConsoleAppender"/>
        </AsyncRoot>
    </Loggers>
</Configuration>
