.RoomCreation {
    margin: 24px 30px;

    &__header {
        margin-bottom: 16px;

        font-size: 20px;
        font-weight: bold;
    }

    &__footer {
        margin-top: 16px;
        color: #717171;
        font-size: 13px;
    }

    &__footer > a {
        text-decoration: none;

        color: #4b4b99;
    }

    &__button {
        position: relative;

        display: flex;
        flex-direction: column;

        max-width: 260px;
        padding: 36px 20px;

        cursor: pointer;
    }

    &__button::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        content: '';

        color: rgba(0, 0, 0, 0.1);
        border: 1px solid currentColor;
        border-radius: 8px;
    }

    &__button:hover::before {
        color: #ffcc00;
        border-width: 2px;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    }

    &__button:active {
        background-color: #f8f8f8;
    }

    &__main {
        display: flex;

        margin: 0 -35px;
    }

    &__button + &__button {
        margin: 0 0 0 16px;
    }

    &__description {
        margin-top: 8px;

        text-align: center;
        letter-spacing: 0.1px;

        color: rgba(0, 0, 0, 0.5);

        font-size: 13px;
        line-height: 1.23;
    }

    &__title {
        text-align: center;

        color: black;

        font-size: 21px;
    }

    &__icon {
        width: 72px;
        height: 72px;
        margin: 0 auto 13px;

        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    &__progress {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.9);
        z-index: 1000;
    }
}

@media (max-width: 770px) {
    &__main {
        flex-direction: column;

        margin-right: 0;
        margin-left: 0;
    }

    &__button {
        max-width: none;
        padding: 18px 10px;
    }

    &__button + &__button {
        margin: 16px 0 0 0;
    }
}
