yt:
  token: 'YOUR TOKEN SECRET NAME'

yql:
  token: 'YOUR TOKEN SECRET NAME'

soy:
  token: 'YOUR TOKEN SECRET NAME'

alice_common:
  ya_plus_robot_token: robot-alice-vins_oauth_token


acceptance_order:
  -
    - check_analytics_info
