.RoomRow {
    display: flex;
    flex-basis: 100;
    align-items: center;
    position: relative;
    & > * {
        margin-right: 5px;
        position: relative;
    }
    &__name {
        flex: 20;
    }
    &__externalRoomId {
        flex: 20;
    }
    &__status {
        flex: 20;
    }
    &__numDevices {
        flex: 20;
    }
    &__controls {
        flex: 20;
    }
}
