@import '../const.scss';

.FilterTools {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__search {
        width: 100%;
        margin-right: 40px;
    }
}
