@import '../const.scss';

.RoomList {
    &__title-row {
        font-weight: 500;
        font-size: 14px;
        opacity: 0.6;
        margin-bottom: 40px;
    }

    &__order-title-wrap {
        position: relative;
        display: flex;
        align-items: center;
    }

    &__order-arrow {
        cursor: pointer;
        display: block;
        padding: 7px;
        position: relative;
        margin-left: 5px;
        transform: rotate(-90deg);
        transition: transform 0.2s;
        transform-origin: center;
        &::after,
        &::before {
            transition: background-color 0.15s;
            content: '';
            position: absolute;
            width: 6px;
            top: calc(50% - 0.75px);
            left: 20%;
            height: 2px;
            background-color: rgba(0, 0, 0, 0.849);
            transform-origin: 0;
        }
        &:hover {
            &::after,
            &::before {
                background-color: #f00;
            }
        }
        &::after {
            transform: rotate(-45deg);
        }
        &::before {
            transform: rotate(45deg);
        }
        &_active {
            &::after,
            &::before {
                background-color: #f00;
                height: 2px;
            }
        }
        &_position {
            &_up {
                margin-bottom: -4px;
                transform: rotate(90deg);
            }
            &_down {
                transform: rotate(-90deg);
            }
        }
    }
}
