.Submit {
    .spin2 {
        margin-left: 20px;
    }

    &__message {
        margin-left: 20px;

        font-size: 13px;

        &_severity {
            &_info {
                color: #0d580f;
            }

            &_error {
                color: #c12a2a;
            }
        }
    }
}
