@import '../const.scss';

.VerificationError {
    &__text {
        display: inline-block;

        font-size: 13px;
        line-height: 1.31;
        color: $color-error;
    }

    &__sign {
        position: relative;

        display: inline-block;
        vertical-align: -1px;
        height: 12px;
        width: 12px;
        margin-right: 4px;
        border-radius: 50%;

        background: $color-error;

        &::before,
        &::after {
            content: '';
            width: 8px;
            height: 1px;

            position: absolute;
            top: 50%;
            left: 50%;

            background: #fff;
        }

        &::before {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &::after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }
}
