@import '../const';

.Footer {
    display: flex;
    justify-content: center;

    padding: 20px $side-padding;
    border-top: $border-default;

    background: white;

    &__links {
        display: flex;

        .Link:not(:last-child) {
            margin-right: 32px;
        }

        @media (max-width: $mobile-max) {
            flex-direction: column;

            > .Link:not(:last-child) {
                margin: 0 0 5px;
            }
        }
    }

    &__content {
        display: flex;
        flex: 1;
        justify-content: space-between;
        align-items: center;

        max-width: $site-max-width;
    }

    &__copyright {
        white-space: nowrap;
    }
}
