.Activate {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    padding: 0 20px;

    &-Title {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        width: 320px;
        text-align: center;

        &-Text {
            margin-bottom: 5px;
        }
    }

    &-Help {
        box-sizing: content-box;
        padding-bottom: 4px;
        margin-left: 2px;
    }

    &-Tooltip {
        background-color: rgba(0,0,0,0.8);
        width: 320px;
        padding: 12px;
        border-radius: 12px;

        .Tooltip-Content {
            padding: 0;
        }

        &-Content {
            display: flex;
            flex-direction: column;
            white-space: break-spaces;

            & > span:last-child {
                margin-top: 4px;
            }
        }
    }

    &-Tooltip .Popup2-Tail > svg > path:first-child {
        fill: rgba(0,0,0,0.8);
    }

    &-Code {
        margin-bottom: 30px;
    }
}
