.App {
    height: 100%;
    min-height: 100%;

    &-Header {
        flex: 0 0 auto;

        width: 100%;
        padding: 0 20px;
        height: 44px;
        display: flex;

        flex-flow: row nowrap;
        white-space: nowrap;
        justify-content: space-between;
        align-items: center;

        background: #fff;

        &User {
            flex: 0;

            .user-pic {
                height: 32px;

                & > img {
                    width: 32px;
                    height: 32px;
                }
            }

            .legouser__current-account .user-account__name {
                @media screen and (max-width: 500px) {
                    display: none;
                }
            }
        }
    }

    &-Content {
        height: calc(100% - 44px);
        min-height: calc(100% - 44px);
    }
}

.CustomerPage {
    width: 100vw;
    height: 100%;
    min-height: 100%;

    &-Spin {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-Content {
        position: relative;
        margin: 0 auto;
        height: 100%;
        max-height: 800px;
        max-width: 488px;
        width: 100%;
    }
}

.CustomerPage .CustomerPage-Content .CustomerPage-Message {
    position: absolute;
    bottom: 24px;
    margin: 0 20px;
    width: calc(100% - 40px);
    z-index: 10;

    & > .MessageBox-Content {
        min-width: 100%;
    }
}

@media screen and (max-height: 580px) {
    .CustomerPage .CustomerPage-Content .CustomerPage-Message {
        bottom: 0;
    }
}
