.Success {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    padding: 0 20px;

    &-Title {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        width: 320px;
        text-align: center;
    }

    &-Messages {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin-top: 40px;
        margin-bottom: 190px;
        padding-left: 0;
        width: 100%;
        position: relative;
        z-index: 2;

        & > li {
            font-family: 'YS Text', Helvetica, Arial, sans-serif;
            font-size: 15px;
            line-height: 18px;
            padding: 10px 13px;
            background-color: rgba(241, 237, 250, 0.8);
            border-radius: 0 20px 20px 16px;
            margin-bottom: 10px;
            width: fit-content;
        }
    }

    &-Footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        position: relative;
        z-index: 2;
        margin-top: auto;
        margin-bottom: 35px;

        &-Subtitle {
            margin: 5px 0 15px;
            opacity: 0.85;
        }
    }

    &-Image {
        width: 252px;
        height: 320px;
        position: absolute;
        top: 185px;
        right: -50px;
        z-index: 1;
    }
}
