include package.json
include tsconfig.json
include src/*.ts
include src/*.tsx
include src/export/*.ts
include src/export/*.tsx
include src/panels/*.ts
include src/panels/*.tsx
include style/*.css
include style/*.svg
