@import '~antd/dist/antd.css';

/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.ant-tabs-bar {
    margin: 0 0 0 0;
}

.ant-table-placeholder {
    border-bottom: none;
}

.ant-table-header-column {
    width: 100%;
}

.ant-drawer-body {
    display: flex;
    align-items: center;
    padding: 0;
}

.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
    padding: 12px
}

.ant-table-column-title {
    width: 100%
}