.confirm {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px 35px;

    &__controls {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        & .button2 {
            margin: 10px;
            min-width: 100px;
        }
    }
    &__title {
        white-space: nowrap;
        opacity: 0.8;
        font-size: 17px !important;
        margin: {
            top: 20px;
            left: 0;
            right: 0;
            bottom: 7px;
        }
    }
    &__description {
        opacity: 0;
        font-size: 15px !important;
        margin-bottom: 13px;
    }
    &__progress {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba($color: #fff, $alpha: 0.4);
    }
}

.Modal {
    &__close {
        position: absolute;
        right: 0;
        top: 10px;
        & .button2__text {
            font-size: 20px !important;
        }
    }
}
