# copy of .gitignore
node_modules
npm-debug.log
.env
.vscode/*
!.vscode/launch.json
build

# arc & docker artefacts
.dockerignore
Dockerfile
base.Dockerfile
.arcignore

# docker does not support global ignores file
.idea
.DS_Store
