include jupyter-config/jupytercloud_lab_vault.json
include jupyter-config/jupytercloud_lab_vault_nbserver.json

include package.json
include ts*.json
include jupytercloud_lab_vault/labextension/*.tgz

# Javascript files
graft src
graft style
prune **/node_modules
prune lib

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
