service: "!!!! Insert your ABC service slug. See https://docs.yandex-team.ru/ci/basics !!!!"
title: "!!!! Insert your ABC service description. See https://docs.yandex-team.ru/ci/basics !!!!"
arcanum:
  review:
    groups:
    - name: "reviewers_group_2"
      roles:
      - "!!!!!! insert abc role code for members: mihajlova !!!!!!"
    - name: "reviewers_group_1"
      roles:
      - "!!!!!! insert abc role code for logins: mihajlova, ispetrukhin, sparkle, zhigan !!!!!!"
    override_policy: "override"
    rules:
    - reviewers:
      - name: "reviewers_group_1"
        ship: 1
        assign: 4
    - subpaths: "**/*.py"
      reviewers:
      - name: "reviewers_group_2"
        ship: 0
        assign: 1
      - name: "reviewers_group_1"
        ship: 1
        assign: 4
