* {
    box-sizing: border-box;
}

html,
body,
#app {
    margin: 0;
    padding: 0;

    width: 1920px;
    height: 1080px;
}

#app {
    padding: 124px 80px 128px;
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    font: 81.25% Helvetica, Arial, sans-serif;
    color: #fff;
    background-color: #120527;

    &:before {
        content: '';
        display: block;
        height: 112px;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        z-index: 1;
        background: linear-gradient(180deg, #120527, transparent);
    }
}

.App {
    flex-basis: 1300px;

    display: grid;
    grid-template:
        'content qr' auto
        'code qr' auto
        / 3fr 1fr;
    gap: 0 60px;
    align-items: center;
    justify-items: start;

    &-Content {
        grid-area: content;

        font-size: 28px;

        color: rgba(255, 255, 255, 0.7);

        h1 {
            color: rgba(255, 255, 255, 0.7);
        }

        li {
            line-height: 1.6em;
        }

        a {
            color: white;
        }
    }

    &-Code {
        grid-area: code;

        font-weight: 500;
        line-height: 68px;

        color: rgba(255, 255, 255, 0.9);

        &_Length_Long {
            font-size: 48px;
        }

        &_Length_Short {
            font-size: 54px;
            letter-spacing: 4px;
        }
    }

    &-QR {
        grid-area: qr;

        svg {
            width: 100%;
            height: 100%;

            rect:first-child {
                fill: rgba(255, 255, 255, 0.7);
            }

            :not(rect) {
                fill: #120527;
            }
        }
    }
}
