.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.panel-test-failed .panel-heading {
    background-color: #f2dede;
}

.panel-test-flaky .panel-heading {
    background-color: #fcf8e3;
}