.ParamsInput {
    &-TextInput {
        display: flex;
        flex-direction: row;

        width: 500px;

        &-Button {
            margin-left: 30px;
        }
    }

    &-Important {
        color: red;
    }

    &-RenderMenu {
        max-height: 410px;
        overflow-y: scroll;
    }
}
