@import '../const.scss';
@import '../mixin.scss';

.StatusView {
    display: flex;
    min-width: 130px;
    align-items: center;

    &__online {
        flex: 0 0 20px;
        margin-right: 8px;
        background-size: 16px;
        background-position: center;
    }

    &__indicator {
        display: inline-block;
        flex: 0 0 10px;
        height: 10px;
        margin-right: 4px;

        border-radius: 100%;
        transition: 0.3s !important;

        vertical-align: middle;

        &_status {
            &_active {
                background-color: #02ff2c;
            }

            &_reset,
            &_mixed,
            &_offline {
                background-color: #ca3939;
            }

            &_inactive {
                background-color: #c6c5c9;
            }
        }
    }

    &__message {
        flex: 0 1 auto;
        margin-right: 6px;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__promo {
        flex: 0 0 auto;
        margin-right: 6px;
    }
}
