@import '../const.scss';

.Device {
    padding: 13px 15px;
    position: relative;
    transition: 0.2s;
    margin: {
        left: -15px;
        right: -10px;
    }
    &:hover {
        .EditableField__button {
            opacity: 0.4;
        }
    }
    &__device-id {
        opacity: 0.8;
        color: rgb(76, 76, 82);
    }
    &__controls {
        display: flex;
        justify-content: space-between;
        min-width: 200px;
        align-items: center;
    }
    &__sub-controls {
        display: flex;
        margin-left: 20px;
        .control {
            margin-left: 5px;
        }
    }

    &__loading-overlay {
        visibility: hidden;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(255, 255, 255, 0.5);
        z-index: 1000;
        transition: 0.2s;
        opacity: 0;
        &_show {
            opacity: 1;
            visibility: visible;
        }
    }
}
