@import '../const.scss';
.EditableField {
    position: relative;
    &:hover {
        .EditableField__button {
            opacity: 0.6;
        }
    }

    &__value {
        position: relative;
        width: 60%;
        max-width: 200px;
        cursor: default;
    }
    &__modal {
        padding: 20px 40px 25px 40px;
        min-width: 420px;
    }
    &__title {
        font-size: 17px;
        font-weight: 500;
        margin-bottom: 15px;
        opacity: 0.7;
    }
    &__controls {
        margin-top: 15px;
        display: flex;
        align-items: center;
        > * {
            margin-right: 10px;
        }
    }
    &__button {
        background-size: contain;
        width: 14px;
        height: 14px;
        position: absolute;
        right: 20px;
        top: -1px;
        opacity: 0.02;
        border: none;
        background-color: rgba(0, 0, 0, 0);
        background-repeat: no-repeat;
        cursor: pointer;
        transition: 0.2s;
    }
    &__error {
        color: $color-error;
        opacity: 0;
        visibility: hidden;
        transition: 0.2s;
        margin-top: 5px;
        &_show {
            opacity: 1;
            visibility: visible;
        }
    }
}
