.Login {
    background: radial-gradient(79.88% 286.75% at 77.78% 100%, #A670FF 0%, #6237FF 100%);
    border-top-right-radius: 28px;
    height: 172px;
    width: 100vw;
    max-width: 448px;
    padding: 25px 20px;
    position: relative;
    margin-top: auto;

    &-Content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        &-Subtitle {
            margin: 5px 0 15px;
            opacity: 0.95;
        }
    }
}
