@import '../const.scss';

.DeviceHistoryModal {
    padding: 30px 70px;
    padding-bottom: 50px;
    background-color: #fff;
    min-width: 1200px;
    min-height: 800px;
    &__title {
        font-size: 20px;
        opacity: 0.8;
    }
    &__next-btn {
        margin-top: 20px;
        align-items: center;
    }
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__acc-info {
        font-size: 14px;
        display: flex;
        & > * {
            margin-left: 10px;
        }
    }
    &__login {
        &-name {
            color: rgb(194, 25, 25);
        }
        &-domain {
            opacity: 0.6;
            color: #000;
        }
    }
    &__close {
        position: absolute;
        right: 120px;
        bottom: 50px;
    }
    &__list {
        transition: max-height 0.15s ease-out;

        &_show {
            max-height: 3000px;
            transition: max-height 0.3s ease-in;
        }
    }
    &__next-btn {
        text-align: center;
        margin-top: 30px;
    }
}

.History {
    &__tools {
        margin-bottom: 20px;
        margin-left: -12px;
    }
    &__next-btn {
        margin-top: 20px;
        align-items: center;
    }

    &__login {
        &-name {
            color: rgb(194, 25, 25);
        }
        &-domain {
            opacity: 0.6;
            color: #000;
        }
    }
    &__list {
        transition: max-height 0.15s ease-out;

        &_show {
            max-height: 3000px;
            transition: max-height 0.3s ease-in;
        }
    }
    &__next-btn {
        text-align: center;
        margin-top: 30px;
    }
}

@mixin row() {
    &__time {
        flex: 7;
    }
    &__label {
        flex: 11;
    }
    &__user {
        flex: 10;
    }
    &__kolonkish {
        flex: 14;
    }
    &__ctx {
        flex: 7;
    }
    &__status {
        flex: 7;
    }
    &__device {
        flex: 13;
    }
}
@mixin label-before() {
    margin-right: 5px;
    content: 'â—';
    font-size: 20px;
    line-height: 0;
    margin-left: -10px;
}

.HistoryList {
    &__day {
        &-title {
            font-size: 14px;
            opacity: 0.5;
            line-height: 20px;
            margin-top: 20px;
            margin-bottom: 10px;
        }
    }
}

.HistoryListItem {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
    position: relative;
    padding: 10px 0;
    &__device {
        margin-left: 10px;
        color: rgba(0, 0, 0, 0.664);
    }

    &__time {
        font-size: 15px;
        opacity: 0.8;
    }
    &__label {
        display: flex;
        font-size: 14px;
        align-items: center;
        color: rgba(0, 0, 0, 0.737);
        font-weight: 500;
        padding: 4px 10px;
        &_type {
            &_activate {
                &::before {
                    @include label-before();
                    color: #02ff2c;
                }
            }
            &_reset {
                &::before {
                    @include label-before();
                    color: #c9c5c5;
                }
            }
            &_promo-activate {
                &::before {
                    @include label-before();
                    color: #4132fd;
                }
            }
        }
        // margin-right: -20px;
    }

    &__ctx {
        span {
            font-weight: bold;
            text-transform: uppercase;
            padding: 3px 7px;
            border: 1px solid rgba(53, 16, 16, 0.17);
            display: inline-block;
            border-radius: 3px;
            color: rgba(0, 0, 0, 0.637);
        }
    }

    &__status {
        &-id {
            padding: 3px 7px;
            font-weight: bold;
            color: #fff;
            border-radius: 3px;
            &_theme {
                &_resolved {
                    background: $color-success;
                }
                &_rejected {
                    background: $color-error;
                }
                &_pending {
                    background: $color-warning;
                }
            }
        }
    }
    &__kolonkish {
        color: rgba(0, 0, 0, 0.737);
    }

    &_title {
        padding-bottom: 20px;
        & > * {
            all: unset;
            font-weight: bold;
            font-size: 15px;
            opacity: 0.8;
        }
        .HistoryListItem__label {
            margin-left: 10px;
        }
    }
    @include row();
}
