-i https://pypi.yandex-team.ru/simple/
attrs==17.4.0
boto3==1.9.113
botocore==1.12.113
catboost==0.10.2
click==6.7
crfsuitex==0.4
Cython==0.25.2
emoji==0.4.5
enum34==1.1.6
fasteners==0.14.1
h5py==2.6.0
jinja2==2.10
jmespath==0.9.0
jsonschema==2.5.1
keras==2.0.6
lazy-object-proxy==1.2.2
lxml==3.5.0
marisa-trie==0.7.2
numpy==1.16.1
pandas==0.19.1
Pillow==4.3.0
protobuf==3.6.1
pymongo==3.6.1
pymorphy2[fast]==0.8
pynorm==0.1.11
python-crfsuite==0.8.4
python-dateutil==2.5.3
pytz==2018.6
PyYAML==3.13
query_wizard_features_reader==0.1.8
requests[security]==2.21.0
rtlog==0.0.19
scikit-learn==0.19.0
scipy==0.19.1
setuptools==34.3.1
https://github.yandex-team.ru/vins/tf-wheels/raw/master/tensorflow-1.8.0-cp27-cp27mu-linux_x86_64.whl
transliterate==1.10.2
typing==3.6.6
ujson==1.35
vins-models-tf==0.4.2
yandex-inflector==0.1.1
yandex-lemmer==1.15
yandex-light-syntax==0.1.2
yandex-normalizer-general==0.1.1
yandex-yt-yson-bindings==0.3.24.post0
yandex-yt==0.9.11a1
yenv==0.7-3
ylog==0.46
