# exclude hidden dirs .git etc.
.*
*.iml
gradle
.gradle
.idea

src
# except logging properties
!src/main/resources/log4j2.xml

# exclude build binaries
build/*

# except files for docker
!build/docker
# except compiled jar
!build/libs
/lib/dialogovo.jar
/lib/spring-context-indexer-*.jar
