{
    "parserOptions": {
        "ecmaVersion": 8,
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "jsx": true
        },
        "useJSXTextNode": true,
        "sourceType": "module"
    },
    "parser": "@typescript-eslint/parser",
    "root": true,
    "plugins": [
        "divkit",
        "@typescript-eslint"
    ],
    "rules": {
        "divkit/use-classes": "warn",
        "eqeqeq": "warn",
        "no-prototype-builtins": "error",
        "no-case-declarations": "error",
        "no-empty-pattern": "error",
        "no-useless-escape": "error",
        "strict": "off",
        "no-console": [
            "error"
        ],
        "prefer-const": "warn",
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "quotes": [
            "error",
            "single",
            "avoid-escape"
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "semi": [
            "error",
            "always"
        ],
        "no-var": "error",
        "object-shorthand": "error",
        "key-spacing": [
            "error",
            {
                "beforeColon": false,
                "afterColon": true
            }
        ],
        "arrow-spacing": "error",
        "arrow-parens": [
            "error",
            "as-needed"
        ],
        "curly": [
            "error",
            "all"
        ],
        "func-call-spacing": [
            "error",
            "never"
        ],
        "brace-style": "error",
        "block-spacing": "error",
        "array-bracket-spacing": [
            "error",
            "never"
        ],
        "object-curly-spacing": [
            "error",
            "always"
        ],
        "padded-blocks": [
            "error",
            "never"
        ],
        "new-cap": "off",
        "no-bitwise": "error",
        "no-caller": "error",
        "no-empty": "error",
        "no-multi-spaces": "error",
        "no-extend-native": "error",
        "no-magic-numbers": [
            "warn",
            {
                "ignoreArrayIndexes": true,
                "ignore": [
                    -1,
                    0.5,
                    1,
                    0,
                    2,
                    100,
                    404
                ]
            }
        ],
        "no-implicit-coercion": "error",
        "no-lone-blocks": "error",
        "no-loop-func": "error",
        "no-global-assign": "error",
        "no-return-assign": "error",
        "no-sequences": "error",
        "no-unused-expressions": [
            "error",
            {
                "allowTaggedTemplates": true
            }
        ],
        "no-mixed-spaces-and-tabs": "error",
        "no-multi-str": "error",
        "no-multiple-empty-lines": "error",
        "no-native-reassign": "error",
        "no-new": "error",
        "no-new-wrappers": "error",
        "no-redeclare": "error",
        "no-trailing-spaces": "error",
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": [
            "error"
        ],
        "no-undef": "error",
        "no-underscore-dangle": "off",
        "no-use-before-define": "off",
        "space-before-function-paren": [
            "error",
            "never"
        ],
        "comma-dangle": [
            "error",
            "always-multiline"
        ],
        "eol-last": [
            "error",
            "always"
        ]
    },
    "env": {
        "node": true,
        "browser": false,
        "es6": true,
        "jest": true
    },
    "overrides": [
        {
            "files": [
                "*.test.ts",
                "test.ts"
            ],
            "plugins": [
                "jest"
            ],
            "extends": [
                "plugin:jest/recommended"
            ],
            "rules": {
                "jest/prefer-expect-assertions": "off"
            }
        }
    ],
    "extends": [
        "eslint:recommended"
    ]
}
